/* TABLE WRAPPER */
.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* TABLE STYLING */
:host ::ng-deep .p-datatable {
  border-radius: 16px;
  background: white;
}

:host ::ng-deep .p-datatable-header {
  border: none !important;
}

:host ::ng-deep .p-datatable-thead>tr>th {
  font-weight: 300;
  font-size: 16px !important;
  padding: 8px 16px;
  color: #808080;
  border: none !important;
  background: #f9fbfd !important;
  font-family: inherit;
}

:host ::ng-deep .p-datatable-thead>tr>th div {
  font-size: 16px !important;
}

:host ::ng-deep .p-datatable-tbody>tr>td {
  padding: 14px 16px;
  font-size: 16px !important;
  font-weight: 300;
  color: #263141;
  border: none !important;
  font-family: inherit;
}

:host ::ng-deep .p-datatable-tbody>tr:hover {
  background: #f7f9ff;
}

:host ::ng-deep .p-paginator {
  justify-content: end;
  border: none !important;
}

/* mobile paginator nowrap */
@media (max-width: 1024px) {
  :host ::ng-deep .p-paginator.p-component {
    flex-wrap: nowrap !important;
  }
}
