<div [formGroup]="instanceForm">
    <div class="flex flex-col gap-3">
        <div class="flex flex-col gap-2">
            <label>Instance Name</label>
            <input pInputText id="instanceDesc" class="w-full" formControlName="instanceDesc" />
        </div>
        <div class="flex flex-col gap-2">
            <label>Activity Template</label>
            <p-select [options]="templatesData$ | async" appendTo="body" [filter]="true" optionLabel="templateName"
                styleClass="w-full" formControlName="type" (onChange)="getTemplateDetail($event.value)"
                formControlName="template"></p-select>
        </div>
        <div formArrayName="internalJsonSchema">
            @for(variable of internalJsonSchema.controls;track variable;let idx =
            $index){
            <div class="flex items-center gap-5" [formGroupName]="idx">
                <div class="w-full">
                    <label for="ipName">Attribute Name</label>
                    <input id="ipName" type="text" pInputText style='width:100%' formControlName="ipName" />
                </div>
                <div class="w-full">
                    <label for="ipName">Attribute Value</label>
                    <input id="ipName" type="text" pInputText style='width:100%' formControlName="value" />
                </div>
            </div>
            }
        </div>
        <div class="flex w-full justify-end gap-2">
            <p-button label="Save" (onClick)="onSubmit()"></p-button>
            <p-button label="Cancel"></p-button>
        </div>
    </div>

</div>