@if ((isMobile$ | async) == false && (isTablet$ | async) == false) {
<div><app-sidebar></app-sidebar></div>
}

<!-- Mobile/Tablet Sidebar -->
<div class="fixed inset-0 z-50 lg:hidden transition-transform duration-300 ease-in-out"
     [ngClass]="{
       'translate-x-0': mobileSidebarVisible,
       '-translate-x-full': !mobileSidebarVisible
     }"
     [style.pointer-events]="mobileSidebarVisible ? 'auto' : 'none'">
  <div class="absolute w-[300px] h-full bg-white shadow-lg z-50">
    <app-sidebar></app-sidebar>
  </div>
  <div class="fixed inset-0 z-40 lg:hidden"
       (click)="toggleMobileSidebar()"
       [style.pointer-events]="mobileSidebarVisible ? 'auto' : 'none'"></div>
</div>

<div class="pl-[0] lg:pl-[300px] h-screen overflow-y-scroll">
    <div class="box-shadow w-full flex justify-between lg:justify-end h-[60px]">
        <div class="p-2 flex justify-center lg:hidden">
            <button class="block text-3xl" (click)="toggleMobileSidebar()" aria-label="Toggle sidebar">
                &#9776;
            </button>
        </div>
        <div class="p-2 flex">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input type="text" class="global-search" pInputText placeholder="Search" />
            </p-iconfield>
        </div>
    </div>
    <div class="pt-[50px] px-[20px]">
        <app-filter [isHideApp]="true"></app-filter>
    </div>
    <router-outlet></router-outlet>
</div>
<p-toast></p-toast>
