.custom-header-dialog .p-dialog-title {
    font-weight: normal !important;
}

:host ::ng-deep .p-inputnumber {
    width: 100% !important;
    display: flex !important;
}

:host ::ng-deep .p-inputnumber-input {
    width: 100% !important;
    flex: 1 1 auto !important;
    min-width: 0 !important;
}

:host ::ng-deep .p-inputnumber-button-group {
    flex: 0 0 auto !important;
}