<div class="layout-root surface">

  <!-- MOBILE OVERLAY -->
  <div class="mobile-overlay" [class.active]="mobileSidebarOpen" (click)="toggleSidebar()"></div>

  <!-- FIXED SIDEBAR -->
  <aside class="sidebar-wrapper" [class.mobile-open]="mobileSidebarOpen">
    <app-sidebar-new></app-sidebar-new>
  </aside>

  <!-- RIGHT SIDE -->
  <div class="right-pane surface-ground">

    <app-topbar-new (menuToggle)="toggleSidebar()" [showRolloutLabel]="true" [labels]="labels" [selectedLabel]="selectedLabel" (labelChange)="onLabelChange()"></app-topbar-new>

    <!-- content that scrolls -->
    <div class="right-scroll">

      @if(showRoutingCards){
      <div class="px-6 pt-4 pb-1">
        <app-filter></app-filter>
      </div>
      }

      <router-outlet></router-outlet>

    </div>

  </div>

</div>

<p-toast></p-toast>